# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Docker
*.pid
*.log

# Note: alembic folder is now at app/database/alembic/ and should be included in Git

# VSCode
.vscode/

# OS files
.DS_Store
